# Temporary Excel files
~$*.xlsx
~$*.xlsm
~$*.xls

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Node dependencies
node_modules/

# Local SSL Certificates for HTTPS testing
*.pem

# Puppeteer Test screenshots
test_*.png
