# Temporary Excel files
~$*.xlsx
~$*.xlsm
~$*.xls

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Node dependencies
node_modules/

# Local SSL Certificates for HTTPS testing
*.pem

# Puppeteer Test screenshots
test_*.png
.vercel

# Mass simulation test artifacts
presupuestos_5000_test.xlsx

# Local test scripts
# (Los scripts en folders tests/ y scripts/ se guardarán en remoto)
